<div
  fxLayout
  fxLayout.lt-sm="column"
  fxLayoutAlign="space-between center"
  fxLayoutGap="10px"
>
  <div
    fxLayout="column"
    fxLayoutAlign="space-between center"
    class="playerCard"
  >
    <picture>
      <img
        class="avatar"
        src="../../assets/images/vinay.jpg"
        alt="playerFirstName"
      />
    </picture>
    <div class="playerTitle">
      <h3>
        Jason
        <span>Holder</span>
      </h3>
    </div>
    <div
      class="scoreWrapper"
      fxFlex
      fxFill
      fxLayout
      fxLayoutAlign="space-between center"
    >
      <div fxFlex fxLayout="column" fxFill fxLayoutAlign="space-between center">
        <strong>12</strong>
        <span>M</span>
      </div>
      <div
        class="divider"
        fxFlex
        fxLayout="column"
        fxFill
        fxLayoutAlign="space-between center"
      >
        <strong>128</strong>
        <span>R</span>
      </div>
      <div fxFlex fxLayout="column" fxFill fxLayoutAlign="space-between center">
        <strong>11</strong>
        <span>W</span>
      </div>
    </div>
  </div>
  <div
    fxLayout="column"
    fxLayoutAlign="space-between center"
    class="playerCard"
  >
    <picture>
      <img
        class="avatar"
        src="../../assets/images/vinay.jpg"
        alt="playerFirstName"
      />
    </picture>
    <div class="playerTitle">
      <h3>
        Jason
        <span>Holder</span>
      </h3>
    </div>
    <div
      class="scoreWrapper"
      fxFlex
      fxFill
      fxLayout
      fxLayoutAlign="space-between center"
    >
      <div fxFlex fxLayout="column" fxFill fxLayoutAlign="space-between center">
        <strong>12</strong>
        <span>M</span>
      </div>
      <div
        class="divider"
        fxFlex
        fxLayout="column"
        fxFill
        fxLayoutAlign="space-between center"
      >
        <strong>128</strong>
        <span>R</span>
      </div>
      <div fxFlex fxLayout="column" fxFill fxLayoutAlign="space-between center">
        <strong>11</strong>
        <span>W</span>
      </div>
    </div>
  </div>
  <div
    fxLayout="column"
    fxLayoutAlign="space-between center"
    class="playerCard"
  >
    <picture>
      <img
        class="avatar"
        src="../../assets/images/vinay.jpg"
        alt="playerFirstName"
      />
    </picture>
    <div class="playerTitle">
      <h3>
        Jason
        <span>Holder</span>
      </h3>
    </div>
    <div
      class="scoreWrapper"
      fxFlex
      fxFill
      fxLayout
      fxLayoutAlign="space-between center"
    >
      <div fxFlex fxLayout="column" fxFill fxLayoutAlign="space-between center">
        <strong>12</strong>
        <span>M</span>
      </div>
      <div
        class="divider"
        fxFlex
        fxLayout="column"
        fxFill
        fxLayoutAlign="space-between center"
      >
        <strong>128</strong>
        <span>R</span>
      </div>
      <div fxFlex fxLayout="column" fxFill fxLayoutAlign="space-between center">
        <strong>11</strong>
        <span>W</span>
      </div>
    </div>
  </div>
</div>
<app-player-stats></app-player-stats>
