@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300i,400,400i,600,700,700i&display=swap");
.isHomeTeamLost {
  background: #e3e3e3;
  color: rgb(146, 146, 146);
}
.matchWrapper {
  transition: all 0.1s ease-in-out;
  box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 1rem;
  background: #fff;
}
.matchWrapper:hover {
  margin-left: -1.6rem;
  margin-right: -1.6rem;
  box-shadow: 0 0.4rem 0.5rem 0 rgba(0, 0, 0, 0.15);
  transition: all 0.1s ease-in-out;
}
.matchDate {
  font-family: "Titillium Web", sans-serif;
  padding: 1rem;
}
.matchDate .day {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.matchDate .date {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.5rem;
}
.matchDate .month {
  font-size: 1.2rem;
  line-height: 1.2rem;
}
.u-skew {
  transform: skew(-13deg) !important;
}
.u-unskew {
  transform: skew(13deg) !important;
}
.matchResult {
  font-style: italic;
  padding: 1rem;
  text-transform: uppercase;
}
.homeTeamScore,
.awayTeamScore {
  text-align: right;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2rem;
  font-family: "Titillium Web", sans-serif;
  padding: 1rem;
  text-transform: uppercase;
}
.awayTeamScore {
  text-align: left;
}
.matchDetails::before {
  content: "";
  width: 0.2rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fb6010;
}
.matchDetails .tourName,
.xs-tourName {
  padding: 0 2rem;
  background: #fb6010;
  color: #fff;
  width: 100%;
}
.matchCenter {
  position: relative;
  overflow: hidden;
  color: #fff;
}
.matchCenter::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 12rem;
  top: 0;
  right: -3rem;
  bottom: 0;
  background-color: #140a47;
  transform: skew(-13deg);
  z-index: 0;
}
.xs-tourName {
  margin-right: -10px;
}

.matchEvent,
.xs-matchDate {
  text-align: center;
  position: relative;
  z-index: 10;
  display: block;
  padding: 0 1.6rem;
}

.xs-matchDetails {
  background: #fff;
  overflow: hidden;
  padding: 0 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem 1rem;
  box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}

.xs-matchDetails .matchDetails {
  padding-bottom: 10px;
}

.xs-matchDetails .matchDetails::before {
  margin-left: -2rem;
}

.xs-tourName::before {
  left: -3rem;
  right: 0;
  background-color: #fb6010;
}

.xs-tourName {
  font-size: 0.85rem;
  line-height: 1.2rem;
  position: relative;
  overflow: hidden;
  color: #fff;
  margin-left: -31px;
}

.xs-scoreDetails {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-style: italic;
  font-weight: 700;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

.xs-matchResult {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
  padding: 0.65rem 0;
  border-top: 1px solid darkblue;
  margin-top: 0.5rem;
}

.matchFilter,
mat-select {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding: 1rem 2rem;
}
.matchFilter p {
  margin: 0;
  padding: 0;
}
.noData {
  background-image: url("../../assets/images/umpire_all.png");
  background-repeat: no-repeat;
  background-position: 10px 20px;
  display: flex;
  width: 16rem;
  height: 15rem;
}
