<section class="container matchFilter">
  <div class="align-items-center row">
    <div class="col-md-4">
      <strong> Show Me All Matches in {{ selectedYear }}. </strong>
    </div>
    <div class="col-md-4">
      <mat-select
        placeholder="Select Year"
        [(ngModel)]="selectedYear"
        (ngModelChange)="onYearSelection()"
      >
        <mat-option *ngFor="let year of yearList" [value]="year.year">
          {{ year.year }}
        </mat-option>
      </mat-select>
    </div>
  </div>
</section>
<ng-container *ngIf="(matches$ | async)?.length > 0; else elseTemplate">
  <section class="container">
    <div
      fxLayout="row"
      fxFill
      fxHide.sm="true"
      fxHide.xs="true"
      *ngFor="let match of matches$ | async"
      (click)="clickMatchEventHandler(match)"
      [ngClass]="{ isHomeTeamLost: !match.homeTeamWon }"
    >
      <div
        fxFill
        fxFlex
        fxLayout="row"
        fxLayoutAlign="none stretch"
        fxLayoutGap="10px"
        class="matchWrapper"
      >
        <div
          fxLayout="column"
          class="matchDate matchDateWrapper"
          fxFlex="12"
          *ngIf="match.matchDate"
        >
          <span class="day">{{ match.matchDate.toDate() | date: "EEEE" }}</span>
          <span class="date">{{ match.matchDate.toDate() | date: "dd" }}</span>
          <span class="month">{{
            match.matchDate.toDate() | date: "MMM yyyy"
          }}</span>
        </div>
        <div
          fxLayout="column"
          fxLayoutAlign="space-between start"
          fxFlex="30"
          class="u-skew matchDetails"
        >
          <div fxLayoutAlign="center start" class="tourName">
            {{ match.matchVenue }}, Ground
          </div>
          <div
            fxFlex
            fxLayout="column"
            fxLayoutAlign="center center"
            class="matchResult u-unskew"
          >
            <span>
              <strong>
                {{ match.result }}
              </strong>
            </span>
            <span>{{ match.matchVenue }}</span>
          </div>
        </div>
        <div fxLayout="column" fxFlex fxLayoutAlign="center center">
          <div fxLayout="row" fxLayoutAlign="start center" fxFill="100%">
            <div fxFlex class="homeTeamScore">
              <p>TCS Pune</p>
              <p>
                <span
                  >{{ match.homeTeamScore }}/{{ match.homeTeamWickets }}</span
                >
              </p>
            </div>
            <div>V</div>
            <div fxFlex class="awayTeamScore">
              <p>{{ match.opTeam }}</p>
              <p>{{ match.opTeamScore }}/{{ match.opTeamWickets }}</p>
            </div>
          </div>
        </div>
        <div fxFlex="20%" fxLayoutAlign="end center" class="matchCenter">
          <div class="matchEvent">
            Score Card
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Mobile Only Screen -->
  <section
    class="container"
    fxShow.sm="true"
    fxShow.xs="true"
    fxHide.md="true"
    fxHide.lg="true"
  >
    <div class="row">
      <div class="col-sm-12">
        <div
          class="d-flex flex-column flex-fill p-2 matchCard rounded mb-2"
          *ngFor="let match of matches$ | async"
          (click)="clickMatchEventHandler(match)"
        >
          <div class="d-flex flex-column flex-fill">
            {{ match.matchDate.toDate() | date: "mediumDate" }}
          </div>
          <small class="w-100 mb-2 text-uppercase">{{ match.result }}</small>
          <div class="flex-fill flex-row d-flex">
            <h2 class="flex-fill font-italic font-weight-bold titillium mb-0">
              TCS PUNE
            </h2>
            <h2 class="font-italic titillium mb-0 score">
              {{ match.homeTeamScore }}/{{ match.homeTeamWickets }}
            </h2>
          </div>
          <div class="flex-fill flex-row d-flex">
            <h2
              class="flex-fill font-italic font-weight-bold titillium mb-0 text-uppercase"
            >
              {{ match.opTeam }}
            </h2>
            <h2 class="font-italic titillium mb-0 score">
              {{ match.opTeamScore }}/{{ match.opTeamWickets }}
            </h2>
          </div>
          <div class="text-center">
            <span class="material-icons">
              keyboard_arrow_right
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<ng-template #elseTemplate>
  <div fxLayout="column" fxLayoutAlign="center center">
    <i class="noData m-3"></i>
    <h3 class="m-4">No Match Data Available Yet.</h3>
  </div>
</ng-template>

<!-- <section>
  <app-match-details></app-match-details>
</section> -->
