<section></section>

<section class="loginWrapper vh-100">
  <div class="container d-flex h-100">
    <form
      [formGroup]="loginForm"
      class="d-flex flex-column flex-fill justify-content-center"
    >
      <div class="justify-content-center align-self-center m-auto loginForm">
        <div class="d-flex flex-column">
          <h2>Welcome To Criczy!</h2>
          <mat-form-field>
            <input
              type="email"
              matInput
              placeholder="Your email"
              formControlName="email"
            />
            <mat-hint>Please enter a valid email.</mat-hint>
            <mat-error>Invalid or missing email.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              type="password"
              matInput
              placeholder="Your password"
              formControlName="password"
            />
            <mat-hint>Please enter your password.</mat-hint>
            <mat-error>Missing password.</mat-error>
          </mat-form-field>
          <div class="d-flex flex-column">
            <button
              *ngIf="!(isLoading$ | async)"
              type="submit"
              mat-flat-button
              color="accent"
              (click)="onSubmit()"
              [disabled]="loginForm.invalid"
              class="m-4"
            >
              Submit
            </button>
            <button
              *ngIf="!(isLoading$ | async)"
              mat-flat-button
              color="primary"
              class="m-4"
              (click)="singInWithGoogle()"
            >
              <mat-icon
                class="align-content-around mb-1 mr-2"
                aria-hidden="false"
                aria-label="email icon"
                >mail</mat-icon
              >
              Sign In With Google
            </button>
            <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<!-- <ol>
  <li>Add an email and password field (with Material Components of course)</li>
  <li>Add validation (email => required and email, password => required)</li>
  <li>Show errors and hints</li>
  <li>Make form submittable and disable button if invalid</li>
  <li>BONUS: Do all of that by using the reactive approach!</li>
</ol> -->
