<section>
  <div
    fxLayout="row wrap"
    fxLayoutAlign="space-between strech"
    fxLayoutGap="5px"
  >
    <div fxFlex fxLayout="column" fxLayoutAlign="space-between strech">
      <div
        fxFlex
        fxLayout
        fxLayoutAlign="space-between start"
        class="large-card"
      >
        <div fxFlex>
          <h4>HIGHEST SCORE</h4>
          <p>
            Vinay
            <span>Kadam</span>
          </p>
          <h3>105</h3>
        </div>
        <div fxFlex class="m-0">
          <picture>
            <img src="../../../assets/images/vinay.jpg" alt="" />
          </picture>
        </div>
      </div>
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="space-between strech">
      <div
        fxFlex
        fxLayout
        fxLayoutAlign="space-between start"
        class="large-card"
      >
        <div fxFlex>
          <h4>HIGHEST SCORE</h4>
          <p>
            Vinay
            <span>Kadam</span>
          </p>
          <h3>105</h3>
        </div>
        <div fxFlex class="m-0">
          <picture>
            <img src="../../../assets/images/vinay.jpg" alt="" />
          </picture>
        </div>
      </div>
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="space-between strech">
      <div
        fxFlex
        fxLayout
        fxLayoutAlign="space-between start"
        class="large-card"
      >
        <div fxFlex>
          <h4>HIGHEST SCORE</h4>
          <p>
            Vinay
            <span>Kadam</span>
          </p>
          <h3>105</h3>
        </div>
        <div fxFlex class="m-0">
          <picture>
            <img src="../../../assets/images/vinay.jpg" alt="" />
          </picture>
        </div>
      </div>
    </div>
  </div>
  <div
    fxLayout="row wrap"
    fxLayoutAlign="space-between strech"
    fxLayoutGap="5px"
    class="mt-1"
  >
    <div
      fxFlex
      fxLayout="column"
      fxLayoutAlign="center strech"
      class="small-card"
    >
      <div class="p-3">
        <h4>HIGHEST INNING total</h4>
        <h3>146/7</h3>
        <p>
          <span>VS</span>
          INFOSYS PUNE
        </p>
      </div>
    </div>
    <div
      fxFlex
      fxLayout="column"
      fxLayoutAlign="center center"
      class="small-card"
    >
      <div class="p-3">
        <h4>HIGHEST INNING total</h4>
        <h3>146/7</h3>
        <p>
          <span>VS</span>
          INFOSYS PUNE
        </p>
      </div>
    </div>
    <div
      fxFlex
      fxLayout="column"
      fxLayoutAlign="center center"
      class="small-card"
    >
      <div class="p-3">
        <h4>Win Percentage</h4>
        <h3>85.32%</h3>
      </div>
    </div>
    <div
      fxFlex
      fxLayout="column"
      fxLayoutAlign="center center"
      class="small-card"
    >
      <div class="p-3">
        <h4>HIGHEST Runs in Match</h4>
        <h3>76*</h3>
        <p>
          <span>VS</span>
          Virat Kohli
        </p>
      </div>
    </div>
    <div
      fxFlex
      fxLayout="column"
      fxLayoutAlign="center center"
      class="small-card"
    >
      <div class="p-3">
        <h4>Total Number of sixes</h4>
        <h3>46</h3>
      </div>
    </div>
    <div
      fxFlex
      fxLayout="column"
      fxLayoutAlign="center center"
      class="small-card"
    >
      <div class="p-3">
        <h4>Total Number of Wickets</h4>
        <h3>146</h3>
      </div>
    </div>
  </div>
</section>
