<section class="container bg-white" *ngIf="player">
  <div class="row">
    <div class="col-md-7 player-info">
      <div
        class="d-flex flex-row justify-content-between player-bio-info align-items-center"
      >
        <picture class="flex-fill">
          <img
            src="../../assets/images/{{
              player.player.playerFirstName.toLowerCase()
            }}_{{ player.player.playerLastName.toLowerCase() }}.png"
            alt=""
            onerror="this.src='../../assets/images/uknown.jpg'"
            class="img-thumbnail img-fluid"
          />
        </picture>
        <div class="flex-fill">
          <h3>
            {{ player.player.playerFirstName }}
            <span class="display-4">{{ player.player.playerLastName }}</span>
          </h3>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between player-bio-info">
        <div class="flex-fill">
          <div class="h6 mb-0">ROLE</div>
          <div class="h4 font-weight-bold">{{ player.player.playerRole }}</div>
        </div>
        <div class="flex-fill">
          <div class="h6 mb-0">Bats</div>
          <div class="h4 font-weight-bold">{{ player.player.bat }}</div>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between player-bio-info">
        <div class="flex-fill">
          <div class="h6 mb-0">Bowls</div>
          <div class="h4 font-weight-bold">{{ player.player.bowl }}</div>
        </div>
        <!-- <div class="flex-fill">
          <div class="h6 mb-0">Date of Birth</div>
          <div class="h4 font-weight-bold" *ngIf="player.player.playerDob">
            {{ player.player.playerDob | date : "mediumDate" }}
          </div>
        </div> -->
      </div>
    </div>
    <div class="col-md-5 playerInfo mt-3">
      <div class="flex-fill">
        <h4>
          About
          <span>{{ player.player.playerFirstName }}</span>
        </h4>
      </div>
    </div>
  </div>
  <mat-tab-group headerPosition="top">
    <mat-tab label="Current Stats">
      <app-player-stats [player]="player"></app-player-stats
    ></mat-tab>
    <mat-tab label="Detailed Stats">
      <div *ngIf="playerPerformance$ | async">
        <h3>
          Career
          <span>Stats</span>
        </h3>
        <div class="col d-block d-sm-none">
          <small
            >Note: Best view table on <strong>Landscape Mode.</strong></small
          >
        </div>
        <app-player-performance
          [playerPerformance]="playerPerformanceDetails"
          [player]="player"
        ></app-player-performance>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
<!-- <section class="container bg-white"></section> -->
