<section class="matchDetails container">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex fxFlexFill fxLayoutAlign="center center" class="matchResult">
      <h4>{{ selectedMatch.result }}</h4>
    </div>
    <div
      fxLayout="row"
      fxFlex
      fxFlexFill
      fxLayoutAlign="center center"
      class="scoreDetails"
    >
      <div
        fxFlex
        fxFlexFill
        fxLayout="column"
        fxLayoutAlign="center end"
        class="mr-2"
      >
        <h3>TCS PUNE</h3>
        <div class="score">
          {{ selectedMatch.homeTeamScore }}/{{ selectedMatch.homeTeamWickets }}
        </div>
      </div>
      <p>VS</p>
      <div
        fxFlex
        fxFlexFill
        fxLayout="column"
        fxLayoutAlign="center start"
        class="ml-2"
      >
        <h3>{{ selectedMatch.opTeam }}</h3>
        <div class="score">
          {{ selectedMatch.opTeamScore }}/{{ selectedMatch.opTeamWickets }}
        </div>
      </div>
    </div>
    <!-- <div
      fxFlex
      fxFlexFill
      fxLayout="column"
      fxLayoutAlign="center center"
      class="plrOfTheMatch"
    >
      <div>Player of The Match</div>
      <p>VINAY KADAM</p>
    </div> -->
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="space-between start">
    <div
      fxLayout="column"
      fxLayoutAlign="space-around start"
      fxFlex.gt-sm="50%"
      fxFill
    >
      <div fxLayout="column" fxFlex fxFill fxLayoutAlign="space-between start">
        <div
          fxLayout="row"
          fxFlex
          fxFill
          fxLayoutAlign="space-between start"
          fxHide.sm="true"
          fxHide.xs="true"
          class="details"
        >
          <div fxFlex="30%" fxFill class="playerName">
            Player Name
          </div>
          <div fxFlex fxFill fxLayoutAlign="center center" class="playerName">
            Runs
          </div>
          <div fxFlex fxFill fxLayoutAlign="center center" class="playerName">
            Balls
          </div>
          <div fxFlex fxFill fxLayoutAlign="center center" class="playerName">
            4s
          </div>
          <div fxFlex fxFill fxLayoutAlign="center center" class="playerName">
            6s
          </div>
        </div>
        <div
          fxLayout="row"
          fxFlex
          fxFill
          fxLayoutAlign="space-between start"
          fxHide.md="true"
          fxHide.lg="true"
          fxShow.sm="true"
          fxShow.xs="true"
          class="details"
        >
          <div fxFlex="30%" fxFill class="playerName">
            Player Name
          </div>
          <div fxFlex fxFill fxLayoutAlign="center center">Runs</div>
          <div fxFlex fxFill fxLayoutAlign="center center">Balls</div>
          <div fxFlex fxFill fxLayoutAlign="center center">4s</div>
          <div fxFlex fxFill fxLayoutAlign="center center">6s</div>
        </div>
        <div
          fxLayout="row"
          fxFlex
          fxFill
          fxLayoutAlign="space-between start"
          *ngFor="let matchDetail of battingDetails"
          class="details"
        >
          <div fxFlex="30%" fxFill class="playerName">
            {{ matchDetail.playerFirstName }}
            <span>
              {{ matchDetail.playerLastName }}
            </span>
          </div>
          <div fxFlex fxFill fxLayoutAlign="center center">
            {{ matchDetail.runs }}
          </div>
          <div fxFlex fxFill fxLayoutAlign="center center">
            {{ matchDetail.balls }}
          </div>
          <div fxFlex fxFill fxLayoutAlign="center center">
            {{ matchDetail.fours }}
          </div>
          <div fxFlex fxFill fxLayoutAlign="center center">
            {{ matchDetail.sixes }}
          </div>
        </div>
      </div>
    </div>
    <div
      fxLayout="column"
      fxLayoutAlign="space-around start"
      fxFlex.gt-sm="50%"
      fxFill
    >
      <div fxLayout="column" fxFlex fxFill fxLayoutAlign="space-between start">
        <div
          fxLayout="row"
          fxFlex
          fxFill
          fxLayoutAlign="space-between start"
          fxHide.sm="true"
          fxHide.xs="true"
          class="details"
        >
          <div fxFlex="30%" fxFill class="playerName">
            Player Name
          </div>
          <div fxFlex fxFill fxLayoutAlign="center center" class="playerName">
            Overs
          </div>
          <div fxFlex fxFill fxLayoutAlign="center center" class="playerName">
            Maidens
          </div>
          <div fxFlex fxFill fxLayoutAlign="center center" class="playerName">
            Runs Given
          </div>
          <div fxFlex fxFill fxLayoutAlign="center center" class="playerName">
            Wickets
          </div>
        </div>
        <div
          fxLayout="row"
          fxFlex
          fxFill
          fxLayoutAlign="space-between start"
          fxHide.md="true"
          fxHide.lg="true"
          fxShow.sm="true"
          fxShow.xs="true"
          class="details mt-3"
        >
          <div fxFlex="30%" class="playerName" fxFill>
            Player Name
          </div>
          <div fxFlex fxFill fxLayoutAlign="center center" class="playerName">
            O
          </div>
          <div fxFlex fxFill fxLayoutAlign="center center" class="playerName">
            M
          </div>
          <div fxFlex fxFill fxLayoutAlign="center center" class="playerName">
            RG
          </div>
          <div fxFlex fxFill fxLayoutAlign="center center" class="playerName">
            W
          </div>
        </div>
        <div
          fxLayout="row"
          fxFlex
          fxFill
          fxLayoutAlign="space-between start"
          class="details"
          *ngFor="let matchDetail of bowlingDetails"
        >
          <div fxFlex="30%" fxFill class="playerName">
            {{ matchDetail.playerFirstName }}
            <span>
              {{ matchDetail.playerLastName }}
            </span>
          </div>
          <div fxFlex fxFill fxLayoutAlign="center center">
            {{ matchDetail.overs }}
          </div>
          <div fxFlex fxFill fxLayoutAlign="center center">
            {{ matchDetail.maidens }}
          </div>
          <div fxFlex fxFill fxLayoutAlign="center center">
            {{ matchDetail.runsGiven }}
          </div>
          <div fxFlex fxFill fxLayoutAlign="center center">
            {{ matchDetail.wickets }}
          </div>
        </div>
      </div>
    </div>

    <!-- <div
    fxFlex.gt-sm="50"
    fxFlex.lt-md="100"
    fxLayout="column"
    fxLayoutAlign="space-between center"
  >
    <div fxFill fxLayout="row" fxLayoutAlign="start center">
      <h4>Batting Performance</h4>
    </div>
    <div
      fxFill
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="10px"
    >
      <div fxLayout="column" fxLayoutAlign="space-between center">
        Player Name
      </div>
      <div fxFlex="10" fxLayout="column" fxLayoutAlign="space-between center">
        Runs
      </div>
      <div fxFlex="10" fxLayout="column" fxLayoutAlign="space-between center">
        Balls
      </div>
      <div fxFlex="10" fxLayout="column" fxLayoutAlign="space-between center">
        4s
      </div>
      <div fxFlex="10" fxLayout="column" fxLayoutAlign="space-between center">
        6s
      </div>
    </div>
  </div> -->
  </div>
</section>
