<section class="matchDetails container">
  <div class="align-items-center justify-content-md-center row">
    <h5 class="col-12 text-center m-2">{{ selectedMatch.matchVenue }}</h5>
  </div>
  <div class="align-items-center justify-content-md-center row">
    <div class="col col-md-3 font-weight-bold h2 m-0 text-center">
      <div>TCS PUNE</div>
      <div class="score">
        {{ selectedMatch.homeTeamScore }}/{{ selectedMatch.homeTeamWickets }}
      </div>
    </div>
    <div class="col-md-auto text-center">
      VS
    </div>
    <div class="col col-md-3 font-weight-bold h2 m-0 text-center">
      <div>{{ selectedMatch.opTeam }}</div>
      <div class="score">
        {{ selectedMatch.opTeamScore }}/{{ selectedMatch.opTeamWickets }}
      </div>
    </div>
  </div>
  <div class="align-items-center justify-content-md-center row p-3">
    <div class="col-12 h2 font-weight-bold text-center matchResult">
      {{ selectedMatch.result }}
    </div>
  </div>

  <div class="row matchSummary">
    <div class="col-lg-6">
      <h4>
        Batting
        <span>Performance</span>
      </h4>
      <table class="table">
        <thead>
          <tr class="details playerName">
            <th scope="col">Player Name</th>
            <th scope="col" class="text-center">R</th>
            <th scope="col" class="text-center">B</th>
            <th scope="col" class="text-center">4s</th>
            <th scope="col" class="text-center">6s</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="details playerName"
            *ngFor="let matchDetail of battingDetails"
          >
            <th scope="row" class="playerName">
              {{ matchDetail.playerFirstName }}
              <span>
                {{ matchDetail.playerLastName }}
              </span>
            </th>
            <td class="text-center">{{ matchDetail.runs }}</td>
            <td class="text-center">{{ matchDetail.balls }}</td>
            <td class="text-center">{{ matchDetail.fours }}</td>
            <td class="text-center">{{ matchDetail.sixes }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      <h4>
        Bowling
        <span>Performance</span>
      </h4>
      <table class="table">
        <thead>
          <tr class="details playerName">
            <th scope="col">Player Name</th>
            <th scope="col" class="text-center">O</th>
            <th scope="col" class="text-center">M</th>
            <th scope="col" class="text-center">RG</th>
            <th scope="col" class="text-center">W</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="details playerName"
            *ngFor="let matchDetail of bowlingDetails"
          >
            <th scope="row" class="playerName">
              {{ matchDetail.playerFirstName }}
              <span>
                {{ matchDetail.playerLastName }}
              </span>
            </th>
            <td class="text-center">{{ matchDetail.overs }}</td>
            <td class="text-center">{{ matchDetail.maidens }}</td>
            <td class="text-center">{{ matchDetail.runsGiven }}</td>
            <td class="text-center">{{ matchDetail.wickets }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
