@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300i,400,400i,600,700,700i&display=swap");
.tourDetailsWrapper {
  font-family: "Titillium Web", sans-serif;
  h1 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    text-align: center;
  }
  h3 {
    font-family: "Titillium Web", sans-serif;
    margin: 0;
  }
}
