<div
  fxLayout.gt-sm="row"
  fxLayout.lt-md="column"
  fxLayoutAlign="space-between center"
  class="pt-2 pb-2"
>
  <div
    fxFlex="50"
    fxFill
    fxFlex.lt-sm="100"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="battingStats"
  >
    <div
      fxFlex
      fxFlexFill
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <div fxLayout="column" fxLayoutAlign="center center" class="stats">
        <div class="record">{{ player.fifties }}/{{ player.centuries }}</div>
        <span class="title">50s/100s</span>
      </div>
    </div>
    <div
      fxFlex
      fxFlexFill
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <div fxFlex fxLayout="column" fxLayoutAlign="space-between center">
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          class="stats st-rate"
        >
          <span class="title">Strike Rate</span>
          <div class="record">{{ getBattingStrikeRate(player) }}</div>
          <div class="icon"></div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" class="stats">
          <div class="record">{{ getBattingAvg(player) }}</div>
          <span class="title">Average</span>
        </div>
      </div>
    </div>
    <div
      fxFlex
      fxFlexFill
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <div fxFlex fxLayout="column" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" class="stats">
          <span class="title">Matches Played</span>
          <div class="record">{{ player.totalMatches }}</div>
        </div>
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          class="stats highestScore"
        >
          <div class="record">{{ player.bestScore }}</div>
          <span class="title">Highest Score</span>
        </div>
      </div>
    </div>
    <div
      fxFlex
      fxFlexFill
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <div
        fxFlexFill
        fxLayout="column"
        fxLayoutAlign="center center"
        class="stats runs-scored"
      >
        <div class="icon"></div>
        <div class="record">{{ player.totalRuns }}</div>
        <span class="title">Runs Scored</span>
      </div>
    </div>
  </div>
  <div
    fxFlex="50"
    fxFill
    fxFlex.lt-sm="100"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="bowlingStats"
  >
    <div
      fxFlex
      fxFlexFill
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        class="stats total-wkts"
      >
        <div class="icon"></div>
        <div class="record">{{ player.totalWickets }}</div>
        <span class="title">Total Wickets</span>
      </div>
    </div>
    <div
      fxFlex
      fxFlexFill
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <div fxFlex fxLayout="column" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" class="stats">
          <span class="title">Innings</span>
          <div class="record">{{ player.totalMatches }}</div>
        </div>
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          class="stats highestScore"
        >
          <div class="record">{{ player.totalMaidens }}</div>
          <span class="title">Maidens</span>
        </div>
      </div>
    </div>
    <div
      fxFlex
      fxFlexFill
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <div fxFlex fxLayout="column" fxLayoutAlign="space-between center">
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          class="stats bowl-avg"
        >
          <span class="title">Strike Rate</span>
          <div class="record">{{ getBowlingStrikeRate(player) }}</div>
          <div class="icon"></div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" class="stats">
          <div class="record">{{ getBowlingAvg(player) }}</div>
          <span class="title">Average</span>
        </div>
      </div>
    </div>
    <div fxFlex fxFlexFill fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="center center" class="stats">
        <div class="record">{{ getBowlingEco(player) }}</div>
        <span class="title">Economy</span>
      </div>
    </div>
  </div>
</div>
