<div
  fxLayout.gt-sm="row"
  fxLayout.lt-md="column"
  fxLayoutAlign="space-between center"
>
  <div
    fxFlex="50"
    fxFill
    fxFlex.lt-sm="100"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="battingStats"
  >
    <div
      fxFlex
      fxFlexFill
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <div fxLayout="column" fxLayoutAlign="center center" class="stats">
        <div class="record">3/0</div>
        <span class="title">50s/100s</span>
      </div>
    </div>
    <div
      fxFlex
      fxFlexFill
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <div fxFlex fxLayout="column" fxLayoutAlign="space-between center">
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          class="stats st-rate"
        >
          <span class="title">Strike Rate</span>
          <div class="record">132.23</div>
          <div class="icon"></div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" class="stats">
          <div class="record">34.55</div>
          <span class="title">Average</span>
        </div>
      </div>
    </div>
    <div
      fxFlex
      fxFlexFill
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <div fxFlex fxLayout="column" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" class="stats">
          <span class="title">Matches Played</span>
          <div class="record">13</div>
        </div>
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          class="stats highestScore"
        >
          <div class="record">34</div>
          <span class="title">Highest Score</span>
        </div>
      </div>
    </div>
    <div
      fxFlex
      fxFlexFill
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        class="stats runs-scored"
      >
        <div class="icon"></div>
        <div class="record">143</div>
        <span class="title">Runs Scored</span>
      </div>
    </div>
  </div>
  <div
    fxFlex="50"
    fxFill
    fxFlex.lt-sm="100"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="bowlingStats"
  >
    <div
      fxFlex
      fxFlexFill
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        class="stats total-wkts"
      >
        <div class="icon"></div>
        <div class="record">143</div>
        <span class="title">Total Wickets</span>
      </div>
    </div>
    <div
      fxFlex
      fxFlexFill
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <div fxFlex fxLayout="column" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" class="stats">
          <span class="title">Innings</span>
          <div class="record">13</div>
        </div>
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          class="stats highestScore"
        >
          <div class="record">3</div>
          <span class="title">Maidens</span>
        </div>
      </div>
    </div>
    <div
      fxFlex
      fxFlexFill
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <div fxFlex fxLayout="column" fxLayoutAlign="space-between center">
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          class="stats bowl-avg"
        >
          <span class="title">Strike Rate</span>
          <div class="record">32.23</div>
          <div class="icon"></div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" class="stats">
          <div class="record">24.55</div>
          <span class="title">Average</span>
        </div>
      </div>
    </div>
    <div fxFlex fxFlexFill fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="center center" class="stats">
        <div class="record">3.10</div>
        <span class="title">Economy</span>
      </div>
    </div>
  </div>
</div>
