<mat-toolbar color="primary">
  <div fxHide.lg="true" fxHide.md="true">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">CRiCzy</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.sm="true" fxHide.xs="true">
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="!(isAuth$ | async)">
        <a routerLink="/signup">Signup</a>
      </li>
      <li *ngIf="!(isAuth$ | async)">
        <a routerLink="/login">Login</a>
      </li>
      <li>
        <a routerLink="/players">Players</a>
      </li>
      <li>
        <a routerLink="/matches">Matches</a>
      </li>
      <li>
        <a routerLink="/tournaments">Tournaments</a>
      </li>
      <li *ngIf="isAuth$ | async">
        <button mat-button [matMenuTriggerFor]="menu">Admin Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onAddPlayerClick()">Add Player</button>
          <button mat-menu-item (click)="onAddTournamentClick()">
            Add Tournament
          </button>
          <button mat-menu-item (click)="onAddMatchClick()">Add Match</button>
          <button mat-menu-item (click)="onAddMatchDetailsClick()">
            Add Match Details
          </button>
        </mat-menu>
      </li>
      <!-- <li *ngIf="isAuth$ | async">
        <a routerLink="/add-player">Add Player</a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a routerLink="/add-match">Add Match</a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a routerLink="/add-match-details">Add Match Details</a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a routerLink="/add-tournament">Add Tournament</a>
      </li> -->
      <li *ngIf="isAuth$ | async">
        <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
