<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <p>I'm the side nav</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        Logo
      </div>
      <div fxFlex fxLayout fxLayoutAlign="end">
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li>
            <a routerLink="/signup">Signup</a>
          </li>
          <li>
            <a routerLink="/login">Login</a>
          </li>
          <li>
            <a routerLink="/players">Players</a>
          </li>
          <li>
            <a routerLink="/matches">Matches</a>
          </li>
          <li>
            <a routerLink="/tournaments">Tournaments</a>
          </li>
          <li>
            <a routerLink="/add-player">Add Player</a>
          </li>
          <li>
            <a routerLink="/add-match">Add Match</a>
          </li>
          <li>
            <a routerLink="/add-match-details">Add Match Details</a>
          </li>
          <li>
            <a routerLink="/add-tournament">Add Tournament</a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-side-nav (closeSidenav)="sidenav.close()"></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <main class="container">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
