.example-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.example-full-width {
  width: 100%;
}
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.title {
  font-family: "Titilli";
  text-transform: uppercase;
  font-style: italic;
  font-weight: 500;
  color: #fff;
  text-align: center;
  background: #f27133;;
}

.listWrapper {
  li {
    text-transform: uppercase;
  }
}

.subway-item::before{
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 8.5px;
  background-color: #f27133;
  margin-right: 2px;
}
.day_match, .night_match {
  background: url('../../assets/images/day_match.png');
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 0.5rem;
  margin-right: 3px;
}

.night_match {
  background: url('../../assets/images/night_match.png');
}

.sectionWrapper {
  border-radius: 1rem;
}

.matchHeaderWrapper {
  background-color: #140a45;
}