<!-- <div
  fxLayout
  fxLayoutAlign="space-between center"
  class="team-page-header"
  fxHide.sm="true"
  fxHide.xs="true"
> -->
<app-match-list></app-match-list>
<div
  fxLayout
  fxLayoutAlign="space-between center"
  class="team-page-header"
  fxHide="true"
>
  <div fxFlex="60%" fxFlexFill class="teamContainer">
    <div class="teamSection">
      <h3>Rising Stars Cricket Team</h3>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-3">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
          <!-- <picture>
            <img src="../../assets/images/trophy.png" alt="" />
          </picture> -->
          <div fxFlex fxFlexFill>
            <h5>
              Cricket season 2023:
              <span>
                Champions of Infosys cup and Runner up in AJM 2020 till now.
              </span>
            </h5>
            <h5>
              Cricket season 2018-19:
              <span>
                Champions of AJM, Flame university & Summer league IT cup and
                Runner up in SPJ tournament.
              </span>
            </h5>
            <h5>
              Cricket season 2017-18:
              <span>
                Champions of Whitecooper,Prithvi Edifice cup, Pratham IT cup and
                Runner up in Summer league T20.
              </span>
            </h5>
            <h5>
              Cricket season 2016- 17:
              <span>
                Champions of Pratham Pune IT cup, Regreen T 20
                tournament,Whitecooper, Pratham IT championship and Runner up of
                Flame university cup.
              </span>
            </h5>
            <h5>
              Cricket Season 2015-16:
              <span> Champion of AJM) cricket tournament. </span>
            </h5>
            <h5>
              Cricket Season 2014-2015:
              <span>
                Champions Of White Cooper & DGDL tournament and Runner Up of
                Aloebliss Cricket Tournament.
              </span>
            </h5>
            <h5>
              Cricket season - 2013- 14:
              <span> Champions of Manoj Phadke Memorial league( MPML). </span>
            </h5>
            <h5>
              Cricket season 2011-12:
              <span> Runner up in clash of 24 & Ubhe IT cup. </span>
            </h5>
            <h5>
              Cricket Season - 2010- 11:
              <span> Runner up in Maharshtra Krida Mandal ( MKM). </span>
            </h5>
          </div>
        </div>
      </div>

      <!-- <p>
        TCS cricket team Pune have won 23 different titles so far in various IT/
        Corporate tournaments in the last decade, It includes 15 championship
        trophies & 8 Runner up trophies.
      </p> -->
    </div>
  </div>
  <div fxFlex="40%" fxFlexFill>
    <div class="team-header-overlay">
      <i class="team-header-overlay__img"></i>
    </div>
  </div>
</div>

<!-- <div
  class="container-fluid"
  fxHide.md="true"
  fxHide.lg="true"
  fxShow.sm="true"
  fxShow.xs="true"
> -->
<div class="container-fluid">
  <div class="row justify-content-md-center mobileWrapper">
    <div
      class="d-flex flex-column justify-content-between flex-fill text-center"
    >
      <h1 class="m-3">Welcome to Rising Stars Team!</h1>
      <div class="flex-fill">
        <div class="d-flex flex-fill">
          <picture class="flex-fill">
            <img
              src="../../assets/images/trophy2.png"
              alt=""
              ngClass="w-25, img-fluid, p-2"
              [ngClass.xs]="{ 'w-25': false, 'w-50': true }"
            />
          </picture>
        </div>
        <h4>
          Like the people says, <i>taste the success once… tongue want more.</i>
        </h4>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mobileWrapper">
    <div class="overflow-auto py-2">
      Current Season Performance!
      <!-- <ul class="list-group list-group-horizontal align-items-center">
        <li class="list-group-item">
          <button
            type="button"
            class="btn btn-link"
            (click)="selectSeason($event)"
            value="current"
          >
            Current Season
          </button>
        </li>
        <li class="list-group-item">
          <button
            type="button"
            class="btn btn-link"
            (click)="selectSeason($event)"
            value="2019"
          >
            2018-19
          </button>
        </li>

        <li class="list-group-item">
          <button
            type="button"
            class="btn btn-link"
            (click)="selectSeason($event)"
            value="all"
          >
            All Records
          </button>
        </li>
      </ul> -->
    </div>
  </div>
</div>
<section class="container mb-3">
  <h3 class="title">
    Rising Stars Cricket
    <span class="d-block" *ngIf="selectedSeason === 2020">
      2019-20 Season Stats</span
    >
    <span class="d-block" *ngIf="selectedSeason === '2019'">
      2018-19 Season Stats</span
    >
    <span class="d-block" *ngIf="selectedSeason === 'all'">
      All Time Season Stats</span
    >
    <span class="d-block" *ngIf="selectedSeason === null">
      Current Season Stats
    </span>
  </h3>
  <app-tournament-stats></app-tournament-stats>
</section>

<section class="container">
  <div class="row justify-content-md-center mb-3">
    <app-top-player-list
      [topPlayerList]="topBatsmanList"
      [statsType]="'batsman'"
      class="col-md-6 col-lg-4"
    ></app-top-player-list>
    <app-top-player-list
      [topPlayerList]="topBowlerList"
      [statsType]="'bowler'"
      class="col-md-6 col-lg-4"
    ></app-top-player-list>
    <app-top-player-list
      [topPlayerList]="topBowlerAvgList"
      [statsType]="'bowlerAvg'"
      class="col-md-6 col-lg-4"
    ></app-top-player-list>
    <app-top-player-list
      [topPlayerList]="topBattingAvgList"
      [statsType]="'battingAvg'"
      class="col-md-6 col-lg-4"
    ></app-top-player-list>
  </div>
</section>

<!-- <div fxLayout="row" fxLayoutAlign="center center" class="container mb-3">
  <section
    fxFlex
    fxFlexFill
    fxLayout="column"
    fxLayoutAlign="center center"
    class="topPlayerList"
  >
    <h4 class="mb-2">
      Player
      <span>
        Batting Stats
      </span>
    </h4>
    <ul>
      <li *ngFor="let topBatsman of topBatsmanList">
        <a
          [routerLink]="['/playerDetails', topBatsman.player.id]"
          [state]="topBatsman"
        >
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <picture>
              <img
                src="../../assets/images/{{
                  topBatsman.player.playerFirstName.toLowerCase()
                }}_{{ topBatsman.player.playerLastName.toLowerCase() }}.jpg"
                alt="topBatsman.player.playerFirstName"
              />
            </picture>
            <div>
              <h4>
                {{ topBatsman.player.playerFirstName }}
                <span>{{ topBatsman.player.playerLastName }}</span>
              </h4>
            </div>
            <div>
              <strong>{{ topBatsman.totalRuns }}</strong>
            </div>
            <div>
              <span class="material-icons">
                keyboard_arrow_right
              </span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </section>

  <section
    fxFlex
    fxFlexFill
    fxLayout="column"
    fxLayoutAlign="center center"
    class="topPlayerList"
  >
    <h4 class="mb-2">
      Player
      <span>
        Bowling Stats
      </span>
    </h4>
    <ul>
      <li *ngFor="let topBowler of topBowlerList">
        <a
          [routerLink]="['/playerDetails', topBowler.player.id]"
          [state]="topBowler"
        >
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <picture>
              <img
                src="../../assets/images/{{
                  topBowler.player.playerFirstName.toLowerCase()
                }}_{{ topBowler.player.playerLastName.toLowerCase() }}.jpg"
                alt="topBowler.player.playerFirstName"
              />
            </picture>
            <div>
              <h4>
                {{ topBowler.player.playerFirstName }}
                <span>{{ topBowler.player.playerLastName }}</span>
              </h4>
            </div>
            <div>
              <strong>{{ topBowler.totalWickets }}</strong>
            </div>
            <div>
              <span class="material-icons">
                keyboard_arrow_right
              </span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </section>
</div> -->

<!-- <section class="teamInfo container">
  <article>
    <h3>
      TCS Pune Cricekt Team Biography:
    </h3>
    <p>
      TCS cricket team Pune have won 23 different titles so far in various IT/
      Corporate tournaments in the last decade, It includes 15 championship
      trophies & 8 Runner up trophies.
    </p>
    <h4>Following are list of trophies/titles achieved by team.</h4>
    <div class="history-tl-container">
      <ul class="tl">
        <li class="tl-item" ng-repeat="item in retailer_history">
          <div class="timestamp">
            Cricket season 2019-20<br />
            <div class="trophyCount">
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >star</mat-icon
              ><span class="aligned-with-icon">1</span>
            </div>
            <div class="trophyCount">
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >star_half</mat-icon
              ><span class="aligned-with-icon">1</span>
            </div>
          </div>
          <div class="item-title">Cricket season 2019-20</div>
          <div class="item-detail">
            Champions of Infosys cup and Runner up in AJM 2020 till now.
          </div>
        </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
          <div class="timestamp">
            Cricket season 2018-19<br />
            <div class="trophyCount">
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >star</mat-icon
              ><span class="aligned-with-icon">3</span>
            </div>
            <div class="trophyCount">
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >star_half</mat-icon
              ><span class="aligned-with-icon">1</span>
            </div>
          </div>
          <div class="item-title">Cricket season 2018-19</div>
          <div class="item-detail">
            Champions of AJM, Flame university & Summer league IT cup and Runner
            up in SPJ tournament.
          </div>
        </li>
        <li class="tl-item" ng-repeat="item in retailer_history">
          <div class="timestamp">
            Cricket season 2017-18<br />
            <div class="trophyCount">
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >star</mat-icon
              ><span class="aligned-with-icon">3</span>
            </div>
            <div class="trophyCount">
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >star_half</mat-icon
              ><span class="aligned-with-icon">1</span>
            </div>
          </div>
          <div class="item-title">Cricket season 2017-18</div>
          <div class="item-detail">
            Champions of Whitecooper,Prithvi Edifice cup, Pratham IT cup and
            Runner up in Summer league T20.
          </div>
        </li>
      </ul>
    </div>
  </article>
</section> -->
