<!-- <div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxLayout="column" fxLayoutAlign="space-between center">
    <h3 class="title">Top Batsman</h3>
    <ul class="playerCardWrapper">
      <li
        class="playerCard topBatsman"
        *ngFor="let topBatsman of topBatsmanList"
      >
        <div
          fxFlex
          fxFlexFill
          fxLayout="column"
          fxLayoutAlign="center center"
          class="playerInfo"
        >
          <picture>
            <img src="../../assets/images/vinay.jpg" alt="" />
          </picture>
          <h4>
            {{ topBatsman.player.playerFirstName }}
            <span>{{ topBatsman.player.playerLastName }}</span>
          </h4>
          <h3>
            {{ topBatsman.totalRuns }}
          </h3>
        </div>
      </li>
    </ul>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-between center">
    <h3 class="title">Top Bowler</h3>
    <ul class="playerCardWrapper">
      <li class="playerCard topBowler" *ngFor="let topBowler of topBowlerList">
        <div
          fxFlex
          fxFlexFill
          fxLayout="column"
          fxLayoutAlign="center center"
          class="playerInfo"
        >
          <picture>
            <img src="../../assets/images/vinay.jpg" alt="" />
          </picture>
          <h4>
            {{ topBowler.player.playerFirstName }}
            <span>{{ topBowler.player.playerLastName }}</span>
          </h4>
          <h3>
            {{ topBowler.totalWickets }}
          </h3>
        </div>
      </li>
    </ul>
  </div>
</div> -->

<section class="wrapper">
  <section class="title">
    <p class="tracking-in-contract-bck">Welcome To TCS Pune Cricket Team</p>
    <h3>Tournament Stats</h3>
  </section>
  <!-- <div class="team-overlay">
    <i class="team-header-overlay__img"></i>
  </div> -->
  <div *ngIf="topBatsmanList" class="container">
    <app-tournament-stats></app-tournament-stats>
  </div>
</section>
<section class="teamfacts container">
  <p>
    TCS cricket team Pune have won 23 different titles so far in various IT/
    Corporate tournaments in the last decade, It includes 15 championship
    trophies & 8 Runner up trophies.
  </p>
  <p>
    Following are list of trophies/titles achieved by team. Cricket season
    2019-20: Champions of Infosys cup and Runner up in AJM 2020 till now.
    Cricket season 2018-19: Champions of AJM, Flame university & Summer league
    IT cup and Runner up in SPJ tournament.
  </p>
  <p>
    Cricket season 2017-18 : Champions of Whitecooper,Prithvi Edifice cup,
    Pratham IT cup and Runner up in Summer league T20. Cricket season 2016- 17 :
    Champions of Pratham Pune IT cup, Regreen T 20 tournament,Whitecooper,
    Pratham IT championship and Runner up of Flame university cup. Cricket
    Season 2015-16 : Champion of AJM) cricket tournament. Cricket Season
    2014-2015 :Champions Of White Cooper & DGDL tournament and Runner Up of
    Aloebliss Cricket Tournament. Cricket season - 2013- 14: Champions of Manoj
    Phadke Memorial league( MPML). Cricket season 2011-12 :Runner up in clash of
    24 & Ubhe IT cup. Cricket Season - 2010- 11:Runner up in Maharshtra Krida
    Mandal ( MKM).
  </p>
</section>
