.customWidthClass {
  flex: 0 0 20%;
  text-align: left !important;
}
span {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-style: italic;
  line-height: 1rem;
  display: inline-block;
  margin-right: 0.3rem;
  color: #fb6010;
}
mat-cell,
mat-header-cell {
  text-transform: uppercase;
}
