<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="opTeam">
    <mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      [ngClass]="'customWidthClass pl-1'"
      >Opponent Team</mat-header-cell
    >
    <mat-cell *matCellDef="let element" [ngClass]="'customWidthClass pl-1'">
      <span>VS</span>
      {{ element.opTeam }}</mat-cell
    >
  </ng-container>

  <ng-container matColumnDef="runs">
    <mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      layout-align="start center"
      >R</mat-header-cell
    >
    <mat-cell *matCellDef="let element" layout-align="start center">{{
      element.runs | number
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="balls">
    <mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      layout-align="start center"
      >B</mat-header-cell
    >
    <mat-cell *matCellDef="let element" layout-align="start center">{{
      element.balls | number
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="fours">
    <mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      layout-align="start center"
      fxShow.lt-sm="false"
      fxShow="true"
      >4s</mat-header-cell
    >
    <mat-cell
      *matCellDef="let element"
      layout-align="start center"
      fxShow.lt-sm="false"
      fxShow="true"
      >{{ element.fours }}</mat-cell
    >
  </ng-container>

  <ng-container matColumnDef="sixes">
    <mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      layout-align="start center"
      fxShow.lt-sm="false"
      fxShow="true"
      >6s</mat-header-cell
    >
    <mat-cell
      *matCellDef="let element"
      layout-align="start center"
      fxShow.lt-sm="false"
      fxShow="true"
      >{{ element.sixes }}</mat-cell
    >
  </ng-container>

  <ng-container matColumnDef="overs">
    <mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      layout-align="start center"
      >O</mat-header-cell
    >
    <mat-cell *matCellDef="let element" layout-align="start center">{{
      element.overs
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="maidens">
    <mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      layout-align="start center"
      fxShow.lt-sm="false"
      fxShow="true"
      >M</mat-header-cell
    >
    <mat-cell
      *matCellDef="let element"
      layout-align="start center"
      fxShow.lt-sm="false"
      fxShow="true"
      >{{ element.maidens }}</mat-cell
    >
  </ng-container>

  <ng-container matColumnDef="runsGiven">
    <mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      layout-align="start center"
      >RG</mat-header-cell
    >
    <mat-cell *matCellDef="let element" layout-align="start center">{{
      element.runsGiven
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="wickets">
    <mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      layout-align="start center"
      >W</mat-header-cell
    >
    <mat-cell *matCellDef="let element" layout-align="start center">{{
      element.wickets
    }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[1, 5, 10, 20]">
</mat-paginator>
<div *ngIf="chart" [chart]="chart"></div>
