.customWidthClass {
  flex: 0 0 35%;
  text-align: left !important;
}
span {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-style: italic;
  line-height: 1rem;
  display: inline-block;
  margin-right: 0.3rem;
  color: #fb6010;
}
mat-cell,
mat-header-cell {
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .customWidthClass {
    flex: 0 0 50%;
    font-size: 0.75rem;
  }
}
